<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head") %>
<body>
  <%- include ("../partials/header") %>
    <main>

        <div class="container">
            <div class="product-detail">
              <div class="product-images">
                <img class="img-detalle" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 1">
                <img class="img-detalle" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 2">
                <img class="img-detalle" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 3">
              </div>
              <div class="">
                <img class="img-detail" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="">
              </div>
              <div class="product-description">
                <h1>Nombre del Producto</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor dui nec eros consectetur, ut gravida mi tincidunt.</p>
                <p>Características:</p>
                <ul>
                  <li>Característica 1</li>
                  <li>Característica 2</li>
                  <li>Característica 3</li>
                </ul>
                <h2>Metodos de Pago</h2>
                <img style="width: 300px;height: 100px;" src="https://tse1.mm.bing.net/th?id=OIP.KkM2jb2JufxOOA6d1tNjWwHaCb&pid=Api&P=0&h=180" alt="">
                <label>Envío</label>
                <input type="text" placeholder="Código Postal">
                <p>Precio: $99.99</p>
                <button>Agregar al Carrito</button>
              </div>
            </div>
          </div>

    </main>
    <%- include ("../partials/footer") %>
</body>
</html>