<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head") %>
<body>
    <%- include ("./partials/header") %>
    <main class="main-carrito">

            <section class="cart-items">
                <h2 class="h2-carrito">Tu Carrito</h2>
                <ul class="ul-carrito">
                    <li class="li-carrito">
                        <img class="li-img-carrito" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 1">
                        <div class="item-details">
                            <h3>Producto 1</h3>
                            <p>Precio: $20.00</p>
                            <div class="quantity">
                                <button class="decrease-button">-</button>
                                <span class="quantity-value">1</span>
                                <button class="increase-button">+</button>
                            </div>
                            <p>Subtotal: <span class="subtotal">$20.00</span></p>
                            <button class="remove-button">Eliminar</button>
                        </div>
                    </li>
                    <li class="li-carrito">
                        <img class="li-img-carrito" src="https://i.pinimg.com/564x/d4/97/bc/d497bc26db59f7f1097b7f49b1e77c91.jpg" alt="Producto 1">
                        <div class="item-details">
                            <h3>Producto 2</h3>
                            <p>Precio: $20.00</p>
                            <div class="quantity">
                                <button class="decrease-button">-</button>
                                <span class="quantity-value">1</span>
                                <button class="increase-button">+</button>
                            </div>
                            <p>Subtotal: <span class="subtotal">$20.00</span></p>
                            <button class="remove-button">Eliminar</button>
                        </div>
                    </li>
                    <li class="li-carrito">
                        <img class="li-img-carrito" src="https://i.pinimg.com/564x/25/fd/75/25fd758317a515cf704f737fffa7058b.jpg" alt="Producto 1">
                        <div class="item-details">
                            <h3>Producto 3</h3>
                            <p>Precio: $20.00</p>
                            <div class="quantity">
                                <button class="decrease-button">-</button>
                                <span class="quantity-value">1</span>
                                <button class="increase-button">+</button>
                            </div>
                            <p>Subtotal: <span class="subtotal">$20.00</span></p>
                            <button class="remove-button">Eliminar</button>
                        </div>
                    </li>
                    <!-- Agrega más elementos del carrito aquí -->
                </ul>
            </section>
            <section class="checkout">
                <div class="contenedor-precio-total">
                    <h2>Total</h2>
                    <p>Subtotal: <span class="total">$20.00</span></p>
                    <p>Envío: $5.00</p>
                    <h3>Total a Pagar: <span class="grand-total">$25.00</span></h3>
                    <button class="checkout-button">Realizar Pago</button>
                </div>
            </section>

    </main>
    <%- include ("./partials/footer") %>
</body>
</html>