<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,700;1,900&display=swap" rel="stylesheet">
<title>Producto Detalle</title>
</head>
<body>
    <header>
        <div class="forms-nav">
          <a href="/login">Iniciar sesion |</a>
          <a href="/registro">Registrarse</a>
        </div>
        <nav>
          <div class="menu">
            <img class="img-logo" src="./img/logo.jpeg" />
            <!--<i class="fa-solid fa-bars"></i>-->
            <!--Menu de navegación-->
            <div class="menu-items">
              <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Hombre</a></li>
                <li><a href="">Mujer</a></li>
                <li><a href="">Deportes</a></li>
                <li><a href="">Ofertas</a></li>
              </ul>
            </div>
            <!--Fin Menu de navegación-->
            <!--Search bar-->
            <div class="searchbar-iconos">
            <div class="buscador">
              <form action="" method="get">
                <input class="input-with-btn-buscador" type="text" placeholder="Buscar"/>
                <button class="btn-buscador" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i></button>
              </form>
            </div>
            <!--Fin Search bar-->
            <div class="box-icon-carrito">
              <a
                href="./carrito-de-compras.html"
                style="border-radius: 3%; background: #000"
                ><i class="fa-solid fa-cart-shopping"></i
              ></a>
            </div>
          </div>
          </div>
        </nav>
      </header>
    <main>

        <div class="container">
            <div class="product-detail">
              <div class="product-images">
                <img class="img-detalle" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 1">
                <img class="img-detalle" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 2">
                <img class="img-detalle" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="Producto 3">
              </div>
              <div class="">
                <img class="img-detail" src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg" alt="">
              </div>
              <div class="product-description">
                <h1>Nombre del Producto</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor dui nec eros consectetur, ut gravida mi tincidunt.</p>
                <p>Características:</p>
                <ul>
                  <li>Característica 1</li>
                  <li>Característica 2</li>
                  <li>Característica 3</li>
                </ul>
                <h2>Metodos de Pago</h2>
                <img style="width: 300px;height: 100px;" src="https://tse1.mm.bing.net/th?id=OIP.KkM2jb2JufxOOA6d1tNjWwHaCb&pid=Api&P=0&h=180" alt="">
                <label>Envío</label>
                <input type="text" placeholder="Código Postal">
                <p>Precio: $99.99</p>
                <button>Agregar al Carrito</button>
              </div>
            </div>
          </div>

    </main>
    <footer>
        <div>
            <img src="" alt="logo">
        </div>
        <div>
            <h3>FIT FUSION</h3>
            <ul>
                <li><a href="">¿Quienes somos?</a></li>
                <li><a href="">Terminos y Condiciones</a></li>
                <li><a href="">Politicas de Privacidad</a></li>
            </ul>
        </div>
        <div>
            <h3>Redes Sociales</h3>
            <p>loguitos de ig y fb</p>
            <h2>Medios de pago</h2>
            <button>iconos</button>
        </div>
        <div>
            <h3>ENVÍOS</h3>
            <p>Los envíos se hacen a travez de Andreani </p>
        </div>
        <div>
            <h3>CONTACTO</h3>
            <p>fitFusion@gmail.com</p>
        </div>
    </footer>
</body>
</html>