<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="forms-nav">
            <a href="">Iniciar sesion |</a>
            <a href="">Registrarse</a>
        </div>
        <nav style="background-color: cadetblue;"">
            <div class="menu">
                <img class="img-logo" src="./img/logo-mercado-liebre.svg" style="width: 350px; height: 70px;">
                <i class="fa-solid fa-bars"></i>
                <div class="menu-items">
                    <ul class="menu">
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Hombre</a></li>
                        <li><a href="">Mujer</a></li>
                        <li><a href="">Deportes</a></li>
                        <li><a href="">Ofertas</a></li>
                    </ul> 
                </div>
                <div class="buscador">
                <form action=""  method="get">
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="Buscar productos, marcas"
                    />
                    <button type="submit">enviar</button>
                  </form>
                  <a href="">Comprá en cuotas y sin tarjeta de crédito</a>
                </div>
            </div>
        </nav>
    
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
    
</body>
</html>