<footer>
    <div class="logo-footer">
      <img class="img-logo" src="/img/logo.jpeg" />
    </div>
    <div class="footer-div">
      <h3>FIT FUSION</h3>
      <ul>
        <li><a href="">¿Quienes somos?</a></li>
        <li><a href="">Terminos y Condiciones</a></li>
        <li><a href="">Politicas de Privacidad</a></li>
      </ul>
    </div>
    <div class="footer-div">
      <h3>Redes Sociales</h3>
      <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
      <a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
      
      <h3>Medios de pago</h3>
      <a href="#"><i class="fa-regular fa-credit-card fa-xl"></i></a>
    </div>
    <div class="footer-div">
      <h3>ENVÍOS</h3>
      <p>Los envíos se hacen a travez de Andreani</p>
    </div>
    <div class="footer-div">
      <h3>CONTACTO</h3>
      <p>fitFusion@gmail.com</p>
    </div>
  </footer>