<header>
    <div class="forms-nav">
      <a href="/login">Iniciar sesion |</a>
      <a href="/registro">Registrarse</a>
    </div>
    <nav>
      <div class="menu">
        <img class="img-logo" src="./img/logo.jpeg" />
        <!--<i class="fa-solid fa-bars"></i>-->
        <!--Menu de navegación-->
        <div class="menu-items">
          <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="">Hombre</a></li>
            <li><a href="">Mujer</a></li>
            <li><a href="">Deportes</a></li>
            <li><a href="">Ofertas</a></li>
          </ul>
        </div>
        <!--Fin Menu de navegación-->
        <!--Search bar-->
        <div class="searchbar-iconos">
        <div class="buscador">
          <form action="" method="get">
            <input class="input-with-btn-buscador" type="text" placeholder="Buscar"/>
            <button class="btn-buscador" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i></button>
          </form>
        </div>
        <!--Fin Search bar-->
        <div class="box-icon-carrito">
          <a
            href="./carrito-de-compras.html"
            style="border-radius: 3%; background: #000"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
        </div>
      </div>
      </div>
    </nav>
    <!--<div class="cool-slider">
      <img src="./img/1.jpg" alt="">
      <img src="./img/2.jpg" alt="">
      <img src="./img/3.jpg" alt="">
      <img src="./img/4.jpg" alt="">
      <img src="./img/5.jpg" alt="">
    </div>-->
    
  </header>