<header>
    <div class="forms-nav">
      <a href="/login">Iniciar sesion |</a>
      <a href="/registro">Registrarse</a>
    </div>
    <nav>
      <div class="menu">
        <img class="img-logo" src="./img/logo.jpeg" />
        <!--<i class="fa-solid fa-bars"></i>-->
        <!--Menu de navegación-->
        <div class="menu-items">
          <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="">Hombre</a></li>
            <li><a href="">Mujer</a></li>
            <li><a href="">Deportes</a></li>
            <li><a href="">Ofertas</a></li>
          </ul>
        </div>
        <!--Fin Menu de navegación-->
        <!--Search bar-->
        <div class="searchbar-iconos">
        <div class="buscador">
          <form action="" method="get">
            <input class="input-with-btn-buscador" type="text" placeholder="Buscar"/>
            <button class="btn-buscador" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i></button>
          </form>
        </div>
        <!--Fin Search bar-->
        <div class="box-icon-carrito">
          <a
            href="./carrito-de-compras.html"
            style="border-radius: 3%; background: #000"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
        </div>
      </div>
      </div>
    </nav>
    <!--<div class="cool-slider">
      <img src="./img/1.jpg" alt="">
      <img src="./img/2.jpg" alt="">
      <img src="./img/3.jpg" alt="">
      <img src="./img/4.jpg" alt="">
      <img src="./img/5.jpg" alt="">
    </div>-->
    <div class="carrusel">
      <div class="slider">
        <input type="radio" name="slider" id="slide1" checked />
        <input type="radio" name="slider" id="slide2" />
        <input type="radio" name="slider" id="slide3" />

        <div class="slides">
          <div class="slide" id="first">
            <img
              class="img-slider"
              src="https://i.pinimg.com/564x/38/4c/a9/384ca963dc0650378ffdb2a00739d802.jpg"
              alt="Imagen 1"
            />
          </div>
          <div class="slide">
            <img
              class="img-slider"
              src="https://i.pinimg.com/564x/25/fd/75/25fd758317a515cf704f737fffa7058b.jpg"
              alt="Imagen 2"
            />
          </div>
          <div class="slide">
            <img
              class="img-slider"
              src="https://i.pinimg.com/564x/d4/97/bc/d497bc26db59f7f1097b7f49b1e77c91.jpg"
              alt="Imagen 3"
            />
          </div>
        </div>

        <div class="navigation">
          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>
        </div>
      </div>
    </div>
  </header>