<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head", {title: 'Registrarse' }) %>
  <body>
    <%- include ("../partials/header") %>
    <main>
      <div class="content-register">
        <h1 class="title-form-register">Registrate</h1>
        <form class="form-register" action="/users/registro" method="POST" enctype="multipart/form-data">
          <p><input type="text" name="name" placeholder="Nombre Completo" /></p>

          <label>Fecha de Nacimiento</label>
          <p><input type="date" name="fechaNacimiento" /></p>

          <p><input type="number" name="telefono" placeholder="Telefono" /></p>
          
            <label>Sexo</label>
            <div class="select-genero">
            <p><input type="radio" name="genero" value="Femenino" id="femenino"/></p>
            <label class="type-gen" for="femenino">Femenino</label>
            <p><input type="radio" name="genero" value="Masculino" id="masculino"/></p>
            <label class="type-gen" for="masculino">Masculino</label>
          </div>
          <label>Categoria</label>
            <div class="select-genero">
            <p><input type="radio" name="categoria" value="Comprador" id="comprador"/></p>
            <label class="type-cat" for="comprador">Comprador</label>
            <p><input type="radio" name="categoria" value="Vendedor" id="vendedor"/></p>
            <label class="type-cat" for="vendedor">Vendedor</label>
          </div>
          <div> <label class="label.-form-prod" for="img">Foto: </label>
        <input class="input-form-prod" type="file" id="img" name="img" placeholder="">
      </div>
          <div class="form-register">
          <p>
            <input
              type="email"
              name="correo"
              placeholder="Correo Electronico"
            />
          </p>
        </div>
        <div class="form-register">
          <p>
            <input type="password" name="password" placeholder="Contraseña" />
          </p>
        </div>
        <div class="form-register">
          <p >
            <input
              type="password"
              name="password"
              placeholder="Confirmar contraseña"
            />
          </p>
        </div>
        <div class="accept-condition" >
          <p>
            <input type="checkbox" name="terminos" id="termycond"/>
          </p>
          <label for="termycond">Aceptas los terminos y Condiciones</label>
        </div>
        <div><button type="submit">Registrate</button></div>    
          
        </form>
      </div>
    </main>
    <%- include ("../partials/footer") %>
  </body>
</html>
